
body{
  background-color: 	#A9A9A9
}

body {
  color: white;
}

.column {
  float: right;
  width:50%;

}

.row{
  float:left;
  width:50%;
}

#man{
  width: 10%;
    height: auto;
}
